@use '@styles/variables' as v;

.creationModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 50;
  transition: 0.5s all;
  padding: 0 15px;
}

.creationForm {
  background: v.$color-white;
  padding: 25px 40px;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: v.$border-radius-15;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: v.$font-family-secondary;
  font-size: v.$font-size-27;
  color: v.$color-orange;
  margin-bottom: 25px;
}

.formField {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.titleField {
  margin-bottom: 20px;
}

.titleInput {
  font-weight: v.$font-family-primary;
  font-size: v.$font-size-14;
  font-family: v.$font-family-tertiary;
}

.validationText {
  position: absolute;
  bottom: -13px;
  left: 20px;
  color: v.$color-error;
  font-size: v.$font-size-12;
}

.desriptionField {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 20px 20px;
  border-radius: v.$border-radius-15;
  font-size: v.$font-size-15;
  margin: 0;
  border: 2px solid v.$color-orange;
  outline: none;
  resize: none;
  font-weight: v.$font-family-primary;
  font-size: v.$font-size-14;
  font-family: v.$font-family-tertiary;
}

.submitButton {
  border-radius: v.$border-radius-15;
  border: 1px solid v.$color-orange;
  background: v.$color-orange;
  color: v.$color-white;
  font-size: v.$font-size-18;
  padding: 10px 25px;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: v.$color-orange;
    background: v.$color-white;
  }
}
