@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(-10deg) scale(1.05);
  }
  40% {
    transform: rotate(10deg) scale(1.1);
  }
  60% {
    transform: rotate(-10deg) scale(1.05);
  }
  80% {
    transform: rotate(5deg) scale(1.03);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 60px;
    height: 60px;
    animation: swing 1s infinite;
  }
}
