@use '@styles/variables' as v;

.creationModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 50;
  transition: 0.5s all;
  padding: 0 15px;
}

.creationForm {
  background: v.$color-white;
  padding: 25px 55px;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: v.$border-radius-15;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;

  & h3 {
    margin-bottom: 15px;
    font-size: v.$font-size-18;
    color: v.$color-orange;
  }
}

.title {
  font-family: v.$font-family-secondary;
  font-size: v.$font-size-27;
  color: v.$color-orange;
  margin-bottom: 25px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.usersSearch {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.createButton {
  border-radius: v.$border-radius-15;
  border: 1px solid v.$color-orange;
  background: v.$color-orange;
  color: v.$color-white;
  font-size: v.$font-size-18;
  padding: 10px 25px;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: v.$color-orange;
    background: v.$color-white;
  }
}

.selectWrapper {
  width: 100%;
  position: relative;
}

.usersSelect {
  width: 100%;
  font-size: v.$font-size-16;
}

.validationText {
  text-wrap: nowrap;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: v.$color-error;
  font-size: v.$font-size-12;
}
