$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-orange: rgba(249, 133, 18, 1);
$color-error: rgba(255, 77, 77, 0.8);
$color-red: rgba(248, 54, 0, 1);
$color-yellow: rgba(249, 212, 35, 1);
$color-peach: rgba(245, 225, 218, 1);
$color-golden: rgba(212, 163, 115, 1);

$font-family-primary: 'open-sans';
$font-family-secondary: 'kalam';
$font-family-tertiary: 'roboto';

$font-size-48: 48px;
$font-size-38: 38px;
$font-size-32: 32px;
$font-size-27: 27px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-12: 12px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

$border-radius-2: 2px;
$border-radius-7: 7px;
$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-16: 16px;
$border-radius-21: 21px;
$border-radius-28: 28px;
$border-radius-circle: 50%;
