$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-orange: rgba(249, 133, 18, 1);
$color-error: rgba(255, 77, 77, 0.8);
$color-red: rgba(248, 54, 0, 1);
$color-yellow: rgba(249, 212, 35, 1);

$font-family-primary: 'open-sans';

$font-size-48: 48px;
$font-size-38: 38px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-12: 12px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

$border-radius-2: 2px;
$border-radius-7: 7px;
$border-radius-15: 15px;
$border-radius-16: 16px;
$border-radius-28: 28px;
