@use '@styles/variables' as v;

.roomPage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  padding: 30px;
  background: v.$color-white;
  width: 100%;
  height: 100%;
  max-width: 600px;
  border-radius: v.$border-radius-21;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: v.$font-family-secondary;
  font-size: v.$font-size-27;
  color: v.$color-orange;
  margin-bottom: 30px;
}

.readyPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.usersList {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.userInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userName {
  font-size: v.$font-size-18;
  margin: 5px 0 10px;
}

.userAvatar {
  border-radius: v.$border-radius-circle;
}

.ready {
  border: 2px solid v.$color-green;
}

.notReady {
  border: 2px solid v.$color-red;
}

.readyButton {
  border-radius: v.$border-radius-15;
  border: 1px solid v.$color-orange;
  background: v.$color-orange;
  color: v.$color-white;
  font-size: v.$font-size-15;
  padding: 10px 20px;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: v.$color-orange;
    background: v.$color-white;
  }
}

.errorPlate {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  & h2 {
    font-size: v.$font-size-32;
    font-weight: v.$font-weight-semiBold;
    color: v.$color-white;
  }
}
