@use '@styles/variables' as v;

.passwordForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputField {
  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.submitButton {
  border-radius: v.$border-radius-15;
  border: 1px solid v.$color-orange;
  background: v.$color-orange;
  color: v.$color-white;
  font-size: v.$font-size-15;
  padding: 10px 25px;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: v.$color-orange;
    background: v.$color-white;
  }
}
