@use '@styles/variables' as v;

.tabItem {
  width: 100%;
  border: 1px solid v.$color-orange;
  border-radius: v.$border-radius-10;
  padding: 20px;
}

.toggleButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & svg {
    transition: transform 0.3s ease-in-out;
  }

  &.isOpen {
    margin-bottom: 20px;

    & svg {
      transform: rotate(-90deg);
    }
  }
}

.title {
  font-family: v.$font-family-secondary;
  font-size: v.$font-size-15;
  color: v.$color-orange;
}
